@import "tailwindcss";
@import "tw-animate-css";

/* tailwind scrollbar hide */
@import 'tailwindcss';
@import 'tailwind-scrollbar-hide/v4';

@custom-variant dark (&:is(.dark *));

html,
body,
:root {
  height: 100%;
}

@theme {
   /* ==== Main Colors ==== */
  --color-green: #5DA96A;
  --color-secondary: #F45E0C;
  --color-green-50: #E8F3EC;
  --color-green-100: #CFE6D5;
  --color-green-200: #A9D2B4;
  --color-green-300: #5DA96A;
  --color-green-400: #2F5A38;
  --color-green-500: #1A371F;
  --color-secondary-100: #FDDBC9;
  --color-secondary-200: #FAB793;
  --color-secondary-300: #F68242;
  --color-secondary-400: #F45E0C;
  --color-secondary-500: #BE4909;
  --color-secondary-600: #883406;

   /* ==== Neutral Colors ==== */
   
   /* ==== Light Gray ==== */
   --color-black: #0C0C0C;
   --color-white: #FFFFFF;
   --color-gray-50: #F9F9F9;
   --color-gray-100: #F6F6F6;
   --color-gray-200: #EDEDED;
  --color-gray-300: #CBCBCB;
  --color-gray-400: #B4B4B4;


  /* ==== Dark Gray ==== */
  --color-gray-500: #9E9E9E;
  --color-gray-600: #717171;
  --color-gray-700: #505050;
  --color-gray-800: #444444;
  --color-gray-900: #2D2D2D;
  --color-not_active_card: #D9D9D9;
  --color-active_card: #A5A2A5;


  /* ==== Status Colors ==== */
  --color-success: #146C43;
  --color-error-light: #FAE7EB;
  --color-error: #C91433;
  --color-success-light: #D1F7E5;

  /* === Typography === */

   /* === Font Sizes in Pixels === */
  --font-size-xs: 12px;     /* text-xs */
  --font-size-sm: 14px;     /* text-sm */
  --font-size-md: 16px;   /* text-base */
  --font-size-lg: 18px;     /* text-md (custom) */
  --font-size-xl: 20px;     /* text-lg */
  --font-size-2xl: 24px;     /* text-xl */
  --font-size-3xl: 32px;    /* text-2xl */
  --font-size-4xl: 36px;    /* text-3xl */
  --font-size-5xl: 44px;    /* text-4xl */
  --font-size-6xl: 64px;    /* text-5xl */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50 scrollbar-hide outline-none;
  }
  body {
    @apply bg-background text-foreground scroll-smooth;
  }
}


@layer components {
  .navbar {
    @apply w-full max-w-screen flex items-center justify-between p-4 mx-auto fixed top-0 z-50 bg-white border-b;
  }
  
  .input {
    @apply border-input bg-transparent text-foreground rounded-none px-4 py-2 shadow-none w-full h-fit outline-none placeholder:text-gray-600 placeholder:font-bold placeholder:text-xl;
  }
  .btn {
    @apply w-full 
  }
  .section {
    @apply my-20
  }

  .signin_button {
    @apply w-full h-[55px] bg-green text-white rounded-[25px] shadow py-[6px] px-[10px] my-[32px]
  }
  .input-phone {
    @apply mt-2 h-[56px] w-full min-w-fit rounded-md border border-gray-400 p-4 text-sm placeholder:text-gray-400 outline-none focus:outline-none focus:ring-0;
  }

  .shad-otp {
    @apply w-full flex gap-[16px]
    ;
    /* justify-between */
  }
  
  .shad-otp-slot {
    @apply text-4xl justify-center flex border border-gray-500 rounded-lg w-[70px] h-[85px] gap-4;
  }

  .shad-error {
    @apply text-error text-sm font-medium pt-3;
  }
  
  .shad-input {
    @apply border-none bg-transparent text-foreground px-4 py-2 w-full placeholder:text-gray-500 placeholder:font-medium placeholder:text-[16px] outline-none focus:outline-none focus:border-none focus:shadow-none focus:ring-0;
  }
}

/* focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] */